.navbar{
	background-color: rgb(0, 0, 0);	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
	position: relative;
}

.homebg {
	background-image: url("https://source.unsplash.com/1920x1080/?adventure,thrill,life,extreme");
	/* //https://source.unsplash.com/featured/?{KEYWORD},{KEYWORD}  */
	/* https://source.unsplash.com/1600x900/?nature,water search with size */
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1920 1080;
}

.heading {
	text-align: center;
	background-color: rgb(0, 0, 0);	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
	color: white;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: absolute;
	top: 18%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
}

.container {
	height: 100%;
	position: absolute;
}

.card {
	height: 370px;
	margin-top: auto;
	margin-bottom: auto;
	width: 400px;
	background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
	color: white;
}

input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.remember {
	color: white;
}

.remember input {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn {
	color: black;
	background-color: #ffdf61;
	width: 100px;
}

.login_btn:hover {
	color: black;
	background-color: white;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}