.navbar{
	background-color: rgb(0, 0, 0);	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
	position: relative;
}

.homebg {
	background-image: url("https://source.unsplash.com/1920x1080/?adventure,extreme,thrill,sport,inspirational,motivational");
	/* //https://source.unsplash.com/featured/?{KEYWORD},{KEYWORD}  */
	/* https://source.unsplash.com/1600x900/?nature,water search with size */
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1920 1080;
}

#content{
	display: flex;
  	flex-direction: column;
  	padding-top:125px
}
.heading {
	margin-top: 100px;
	text-align: center;
	background-color: rgb(0, 0, 0);	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.6); /* Black w/opacity/see-through */
	color: white;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: bold;
	border: 3px solid #f1f1f1;
	position: relative;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	width: 80%;
	padding: 20px;
	text-align: center;
	align-items:flex-end;
	}

.sign-in-card {
	height: 100%;
	position: relative;
	margin-top:-170px;
	transform: translate(0px, 50%);
}

.card {
	height: 370px;
	margin: auto;
	width: 400px;
	border: 3px solid #f1f1f1;
	background-color: rgba(0, 0, 0, 0.6);
}

.card-header h3 {
	color: white;
}

#explore-item-card {
	height: auto;
	margin-top: 2rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 20rem;
	background-color: rgba(255,255,255, 0.9);
}

#explore-item-card > img{
	object-fit: contain;
	margin: auto;
	max-height: 10rem;
}

.btn-round {
	border-radius: 50%;
}

#detailedViewBtn {
	float: right;
}


input:focus {
	outline: 0 0 0 0 !important;
	box-shadow: 0 0 0 0 !important;
}

.remember {
	color: white;
}

.remember input {
	width: 20px;
	height: 20px;
	margin-left: 15px;
	margin-right: 5px;
}

.login_btn {
	color: black;
	background-color: #ffdf61;
	width: 100px;
}

.login_btn:hover {
	color: black;
	background-color: white;
}

.links {
	color: white;
}

.links a {
	margin-left: 4px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.settingsForm{
	display: flex;
	justify-content: center;
}